<template>
    <div class="card" style="width: 40rem" id="center">
      <h3>Calculate</h3>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Num1</label>
        <div class="col-sm-5">
          <input id="num1" class="form-control" type="number"  v-model="num1" placeholder="Enter Num1" aria-label="default input example">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Num2</label>
        <div class="col-sm-5">
          <input class="form-control" type="number" v-model="num2" placeholder="Enter Num2" aria-label="default input example">
        </div>
      </div>
  
      <div class="col-sm-5">
      <button id="num2" @click="PlusNum()" type="button" class="btn btn-primary" to="/">Calculate</button>
      </div>

      <div class="col-sm-5">
        {{result}}
    </div>
    </div>
  </template>
  
  <script setup>
    import { ref } from 'vue'

    let result = ref(0)
    const num1 = ref(0)
    const num2 = ref(0)

    const PlusNum = (() =>  {
        result.value = num1.value + num2.value
        return result
    });
 </script>
  
  <style>
  
  </style>