<template  class="pt-3">
    <b-container class="mt-5">
      <b-row align-h="center">
       <b-col cols="4"></b-col>
        <b-col cols="4">
          <b-card
            title="Login"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem"
            class="mb-2"
          >
            <b-card-text>
              <div style="text-align: justify">
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                  <b-form-group
                    id="input-group-1"
                    label="Email address:"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.email"
                      type="email"
                      placeholder="Enter email"
                      required
                    ></b-form-input>
                  </b-form-group>
  
                  <b-form-group
                    id="input-group-2"
                    label="Your Password:"
                    label-for="input-2"
                  >
                    <b-form-input
                      id="input-2"
                      v-model="form.password"
                      placeholder="Enter Password"
                      required
                      type="password"
                    ></b-form-input>
                  </b-form-group>
                  <b-button type="reset" variant="danger">Reset</b-button>
                  <b-button type="submit" variant="primary" class="mx-2"
                    >Submit</b-button
                  >
                </b-form>
              </div>
              {{ $store.state.auth.user }}
              {{ $store.getters['auth/isLogin'] }}
            </b-card-text>
          </b-card>
        </b-col>
       <b-col cols="4"></b-col>
      </b-row>
    </b-container>
  </template>
  
  <!-- <script setup> -->
  <script>
  // import { ref } from 'vue'
  
  // const submit = ref()
  // const Reset = ref()
  
  // const onSubmit = (event) => {
  //   event.preventDefault()
  //   this.$store.dispatch('auth/login', this.form)
  // }
  
  // const onReset = (event) => {
  //   event.preventDefault()
  //   // Reset our form values
  //   this.form.email = ''
  //   this.form.password = ''
  //   this.show = false
  //   this.$nextTick(() => {
  //     this.show = true
  //   })
  //   return {
  //     form: {
  //       email: '',
  //       password: ''
  //     },
  //     show: true
  //   }
  // }
  
  export default {
    data () {
      return {
        form: {
          email: '',
          password: ''
        },
        show: true
      }
    },
    methods: {
      onSubmit (event) {
        event.preventDefault()
        this.$store.dispatch('auth/login', this.form)
      },
      onReset (event) {
        event.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.password = ''
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
  </script>
  