<template>
    <div class="container">
        <h3 class="p-3 text-center">Table1</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Room</th>
                    <th>Class</th>
                    <th>Teacher</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({ id, room, classes, teacher }) in rooms" :key="id">
                    <td>{{ id }}</td>
                    <td>{{ room }}</td>
                    <td>{{ classes }}</td>
                    <td>{{ teacher }}</td>
                    <td><button @click="removeRow(index)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script setup>
import { ref } from 'vue'
const rooms = ref(
    [
        { id: 1, room: '101', classes: 'm.4/1', teacher: 'Amelia' },
        { id: 2, room: '102', classes: 'm.4/2', teacher: 'Olivia' },
        { id: 3, room: '103', classes: 'm.4/3', teacher: 'Jessica' },
        { id: 4, room: '201', classes: 'm.5/1', teacher: 'Megan' },
        { id: 5, room: '202', classes: 'm.5/2', teacher: 'Oscar' },
        { id: 5, room: '202', classes: 'm.5/3', teacher: 'James' }
    ]
)

// const removeRow=(index)=>{
//     rooms.value.splice(index, 1)
// }

// return {
//     removeRow
// }
</script>
  