<template>
    <div>
      <h3>Table2</h3>
      <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="w-40">username</th>
                    <th class="w-40">email</th>
                    <th class="w-40">password</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in rows" :key="row.index">
                    <td>
                      <input placeholder="edit me1" />
                    </td>
                    <td>
                      <input placeholder="edit me2"/>
                    </td>
                    <td>
                      <input placeholder="edit me3"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pt-2">
          <button
          class=" w-100 h-8"
          label="New"
          icon="pi pi-plus"
          iconPos="rigth"
          @click="addRow"
          ></button>
        </div>
    </div>
  </template>
  
<script setup>
import { ref } from 'vue'
const rows = ref([])
const addRow = () => {
  rows.value.push([{
    username:"",
    email:"",
    password :""
  }])
  console.log(rows.value) 
}
const removeRow = (index) => {
  rows.value.splice(index, 1);
}
return {
  rows, addRow, removeRow
}
</script>