<template>
  <div id="app">
  <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
  <h3>My Table by Vue</h3>
  <!-- <Table />
  <Cal /> -->
  <Table2 />
  </div>


</template>

<script setup>
// import Table from './components/Table.vue'
// import Cal from './components/calculate.vue'
import Table2 from './components/Table2.vue'
// import HelloWorld from './components/calculate.vue'
// import User from './components/user.vue'
//import Home from './views/Home.vue'

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
